/*For rounded corners on body content*/

.thin-blue-line {
    margin-left:0; 
    margin-right:0;
    height:8px; 
    background-color: #3b5998;
}

.no-leftright-margin {
    margin-left: 0;
    margin-right: 0;
}

.round-silver-border {
    border-radius: 5px;
    border: 1px silver; 
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

.my-jumbotron-style {
    border-radius: 5px;
    padding: 2% 3% 2% 3%;
    margin: 2% 5% 5% 5%;
}

.my-image-style {
    border: 2px solid silver; 
    border-radius: 2px; 
    margin: 5% 5% 5% 5%; 
    width: 90%;
}

.my-bodycontainer-style {
    min-height:500px; 
    border: 1px solid silver; 
    border-radius: 2px; 
    background-color: #F8F8FF; 
    margin-top: 2.5%; 
    margin-bottom: 2.5%; 
    padding-top: 30px; 
    padding-left: 20px; 
    padding-right: 20px;
}

.responsive-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-container iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}
