@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>3D Print activation mail:</strong>   <a href="mailto:3d.cartesius@gmail.com">3d.cartesius@gmail.com</a><br />
    <strong>Soeren Emil:</strong> <a href="mailto:201270970@iha.dk">201270970@iha.dk</a>
</address>