@{
    ViewBag.Title = "About the Cartesius 3D Printer";
}
<h2>@ViewBag.Title</h2>
<br />
<p>@ViewBag.Message</p>

<img src="/Content/Images/printer3d.jpg" />

<br />
<br />
<p>Watch a video about the printer project here:</p>

<iframe width="560" height="315" src="//www.youtube.com/embed/fLjkrVSlMhI" frameborder="0" allowfullscreen></iframe>