@{
    ViewBag.Title = "About";
}
<br />
<p>@ViewBag.Message</p>

<img src="/Content/Images/printer3d.jpg" width="560" height="350" />

<br />
<br />
<p>Watch a video about the printer project here:</p>

<iframe width="560" height="315" src="//www.youtube.com/embed/fLjkrVSlMhI" frameborder="0" allowfullscreen></iframe>