@{
    ViewBag.Title = "Contact";
}


<div class="jumbotron" style="background-color: #f7f7f7; border: 1px silver; border-radius: 5px; padding-top: 2%; padding-bottom: 2%; margin-left: 5%; margin-right: 5%; margin-top: 2%; margin-bottom: 5%; padding-left: 3%; padding-right: 3%;">
    <div class="row">
        <div class="col-md-5">
            <h2 style="text-align:center;">@ViewBag.Title</h2>
            <hr />
            <p class="lead">@ViewBag.MessageP1 <br /> @ViewBag.MessageP2</p>
            <address>
                <strong>Support:</strong>   <a href="mailto:201270916@iha.dk">201270916@iha.dk</a>
            </address>

            <address>
                Ingeniørhøjskolen Aarhus<br />
                Finlandsgade 21-26<br />
                8200 Aarhus N<br />
                Denmark<br />
            </address>
        </div>
        <div class="col-md-7">
            <img src="/Content/Images/log_in.jpg" class="img-responsive" style="border: 2px solid silver; border-radius: 2px; margin: 5% 5% 5% 5%; width: 90%;" />
        </div>
    </div>
</div>

