@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<br />
<p>@ViewBag.Message</p>

<address>
    <strong>Support:</strong>   <a href="mailto:201270916@iha.dk">201270916@iha.dk</a>
</address>

<address>
    Ingeniørhøjskolen Aarhus<br />
    Finlandsgade 21-26<br />
    8200 Aarhus N<br />
    Denmark<br />
    @*<abbr title="Phone">P:</abbr>
        425.555.0100*@
</address>