@{
    ViewBag.Title = "Contact";
}


<div class="jumbotron, my-jumbotron-style">
    <div class="row">
        <div class="col-md-5">
            <h2 style="text-align:center;">@ViewBag.Title</h2>
            <hr />
            <p class="lead">@ViewBag.MessageP1 <br /> @ViewBag.MessageP2</p>
            <address>
                <strong>Support:</strong>   <a href="mailto:201270916@iha.dk">201270916@iha.dk</a>
            </address>

            <address>
                Ingeniørhøjskolen Aarhus<br />
                Finlandsgade 21-26<br />
                8200 Aarhus N<br />
                Denmark<br />
            </address>
        </div>
        <div class="col-md-7">
            <img src="/Content/Images/log_in.jpg" class="img-responsive" style="border: 2px solid silver; border-radius: 2px; margin: 5% 5% 5% 5%; width: 90%;" />
        </div>
    </div>
</div>

