@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6" style="padding: 0 0 0 0;">
                <div class="row">
                    <div class="col-md-12">
                        <a href="/Account/Register">
                            <img src="/Content/Images/Del1.jpg" class="img-responsive" style="border: 1px solid grey; border-radius: 1px; " />
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron" style="background-color: #f7f7f7; margin-bottom: 0; padding: 2% 5% 2% 5%; ">
                            <p class="lead" style="margin-bottom:0;">
                                <a href="/Account/Register">Sign up</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding: 0 0 0 0;">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/Content/Images/Del2.jpg" class="img-responsive" style="border: 1px solid grey; border-radius: 1px;" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron" style="background-color: #f7f7f7; margin-bottom: 0; padding: 2% 5% 2% 5%;">
                            <p class="lead" style="margin-bottom:0;">Upload your design</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding: 0 0 0 0;">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/Content/Images/Del3.jpg" class="img-responsive" style="border: 1px solid grey; border-radius: 1px; " />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron" style="background-color: #f7f7f7; margin-bottom: 0; padding: 2% 5% 2% 5%; ">
                            <p class="lead" style="margin-bottom:0;">Await printing</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="padding: 0 0 0 0;">
                <div class="row">
                    <div class="col-md-12">
                        <img src="/Content/Images/Del4.jpg" class="img-responsive" style="border: 1px solid grey; border-radius: 1px;" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="jumbotron" style="background-color: #f7f7f7; margin-bottom: 0; padding: 2% 5% 2% 5%; ">
                            <p class="lead" style="margin-bottom:0;">Pick up your design</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        
    </div>
    <div class="col-md-8" style="padding: 0 0 0 0;">
        <div class=" jumbotron, my-jumbotron-style">
            <div class="row">
                <div class="col-md-12">
                    <hr />
                    <h2>Welcome to the portal of the Cartesius 3D Printer</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>